@use '/src/styles/constants/colors';

.appWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: colors.$GRAYE;

  .app {
    width: 360px;
    height: 620px;
    padding: 30px;
    background-color: colors.$WHITE;
    border-radius: 60px;
  }
}
