@use '/src/styles/constants/colors';

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 480px;

  .nameContainer {
    height: 50px;
    margin-bottom: 10px;

    label {
      margin-right: 10px;
      font-size: 15px;
      font-weight: 500;
      color: colors.$GRAY4;
    }

    input {
      width: 120px;
      padding-left: 10px;
      font-size: 15px;
      font-weight: 500;
      color: colors.$GRAY4;
      border-bottom: 1px solid colors.$GRAY4;
    }

    p {
      margin-top: 10px;
      font-size: 13px;
      font-weight: 500;
      color: colors.$RED1;
    }
  }

  p {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    color: colors.$GRAY4;
  }

  .btnListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
      width: 180px;
      padding: 6px 0;
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: 500;
      color: colors.$GRAY4;
      border: 1px solid colors.$GRAY4;
      border-radius: 20px;
    }

    .selectedBtn {
      color: colors.$WHITE;
      background-color: colors.$GRAY4;
    }
  }
}

.footerContainer {
  width: 300px;
  height: 80px;

  button {
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-weight: 700;
    color: colors.$BLACK;
    background-color: colors.$THEME;
    border-radius: 23px;
  }
}
